.bg-black{
    background-color: transparent 0.1;    
}
a.nav-link{
    color: #fff;
    text-transform: uppercase;
    margin-left: 30px;
    font-size: 18px;
    font-weight: bold;
 
}

a.nav-link:hover{
    color: #45f882;
}
a.navbar-brand{
    color: #fff;
    font-weight: bold;
    font-size: 35px;
     margin-left:40px;
}
a.navbar-brand:hover{
    color: white;
}
a.navbar-brand span{
    color: #45f882;
}

.m-left{
    margin-left: 110px;
}
div.container-fluid.new{
    padding: 0px 0px;
}
.photo1{
   background-image: url("https://mykd-react.vercel.app/assets/img/slider/banner_bg.jpg");
    width: 100%;
    min-height: 75vh;
    background-position:right;
    background-size: cover;
    z-index: -1;
    padding: 200px 0px;
    text-align: center;
}
.navbar-toggler-icon{
    background-color: #fff;
}
.photo1 h1{
    text-align: center;
    text-transform: uppercase;
    color: #eee;
    font-size: 136px;
    font-family: "Poetsen One", sans-serif;
    line-height: .8;
    text-shadow: -1px 5px 0px rgba(69, 248, 130, .66)
    
}
.photo1 h2{
    color: #fff;
    font-size: 26px;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1.4;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
}
.starbtn{
  padding: 13px 20px;
 
    background: #45f882;
    border: medium;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
   
    line-height: 1;
    
    padding: 18px 33px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    clip-path: polygon(90% 0, 100% 34%, 100% 100%, 10% 100%, 0 66%, 0 0);
    
    font-family: 'Poppins',sans-serif;

}

.header{
    position: absolute;
    width: 100%;
}
.main{
    background-image: url("https://mykd-react.vercel.app/assets/img/bg/result_bg.png");
    background-position: top center;
    
    height: calc(100% + 70px);
    background-size: cover;
    margin-top: -60px;
  
    padding: 95px 0 55px;
    text-align: center;
    
}
.text h1{
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #45f882;
    text-align: center;
    font-weight:700;
}
.text h2{
 
    font-family: 'Poppins',sans-serif;
    text-align: center;
    font-size: 45px;
    color: #eee;
    font-weight: 700;
}
.text::after{
    content: " ";
    width: 65px;
    height: 5px;
    display: block;
    background-image: url("https://mykd-react.vercel.app/assets/img/bg/title_shape.svg");
    margin: 20px auto 20px;

}
.main span{
    font-family: 'Poppins',sans-serif;
    margin: 10px 0px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    color:#45f882;
}
.text2 h3{
    padding-top: 40px;
    text-align: center;
    font-size: 14px;    
    font-weight: 700;
    font-family: 'Poppins',sans-serif;
    color: #eee;
    letter-spacing: 2px;
}
.text2 h4{
    text-align: center;
    font-size: 16px;    
    font-weight: 700;
    font-family: 'Poppins',sans-serif;
    color: #45f882;
    letter-spacing: 2px;
}
.winner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .winner-title {
    font-size: 3rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    color: #EEE;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
  }
  
  .winner-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .winner-list li {
    background-color: #45f882;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .css-pl8gqh-MuiStack-root {
    margin: 20px;
}

.slick-next{
right: 0;
}
.slick-slide img{
    border: 1px solid #383c4e;
    border-radius: 10px;
    width: 100%;
    display: block;
}
.slick-list{
    height: 445px;
}
.slick-slide{
    margin-right:10px ;
}
.slick-prev:before{
    display: none;
}
.slick-next:before{
    display: none;
}
.slick-slide {
    margin-right: 3px;
}
.slick-dots li button:before {
    opacity:1;    
    color: white ; 
}
.slide{
    background-image: url("https://mykd-react.vercel.app/assets/img/bg/area_bg02.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
    padding: 70px 15px;
}
.slide h1{
    font-size: 14px;
    color: #45f882;
    font-family: 'Poppins',sans-serif;
    letter-spacing: 3px;
    text-align: center;
}
.slide h2{
    font-size: 45px;
    color: #eee;
    font-family: 'Poppins',sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 15px 10px;
}
.a{
    padding-right: 40px;    
}
.frame
{
    background-image: url("https://mykd-react.vercel.app/assets/img/bg/social_bg.png");
    padding: 100px 0 150px;
    margin: -18px 0 -30px;
    background-size: cover;
    filter: drop-shadow(0px 1px 0 rgba(255, 255, 255, .07));
}
.sec{
    height: 160px;
    border: 3px solid #45f882;
    text-align: center;
    padding: 10px;
    
    margin-right: 5px;
}
.g{
    gap: 2px;
}
.sec a{
    color: #eee;
    font-weight: 400;
    font-size: 50px;
    
    
}
.sec h5{
    font-size: 14px;
    color: #45f882;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Poppins',sans-serif;
    margin: 15px 0 0 ;
}
.sec::after{
    content: " ";
    width: 65px;
    height: 5px;
    display: block;
    background-image: url("https://mykd-react.vercel.app/assets/img/bg/title_shape.svg");
    margin: 39px -15px 20px;

}

